
a,.tp-caption a.btn:hover {
	color: #d11241;
}
.top-nav-collapse {
	background: #d11241;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #d11241;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #d11241;
}

.widget-avatar .avatar:hover {
    border: 5px solid #d11241;
}

.bg-skin {
	background: #d11241;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #d11241;
}

footer {
    background-color: #d11241;
}

.btn-skin {
  color: #fff;
  background-color: #d11241;
  border-color: #d11241;
}

brdr-bttm { 
	border: 1px solid #333;
}
brdr-tp { 
	border: 1px solid #333;
}
brdr-lft { 
	border: 1px solid #333;
}
brdr-rght { 
	border: 1px solid #333;
}

mrgn-tp-sm { margin-top: 5px !important; }
mrgn-tp-md { margin-top: 10px !important; }
mrgn-tp-lg { margin-top: 15px !important; }
mrgn-tp-xl { margin-top: 20px !important; }